@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-flyt-950 text-flyt-text antialiased overflow-hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}
